<ion-view view-title="" hide-nav-bar="true">
    
    <ion-header-bar align-title="center" class="bar-light bar-transparent">
        <div class="buttons">
            <button class="button button-clear" menu-toggle="left"><i class="icon ion-navicon"></i></button>
        </div>
        <h1 class="title logo">{{'MyAds'|translate}}</h1>
        <div class="buttons">
            <button class="button button-clear" menu-toggle="right"><i class="icon ion-ios-albums-outline"></i></button>
        </div>
    </ion-header-bar>
    
    <ion-content>
        
        <form name="myForm" novalidate>
            
            <div class="row">
                <div class="col">
                    
                    <label class="item item-input item-floating-label">
                        <span class="input-label">{{'Whatdoyouwanttosell'|translate}}</span>
                        <input type="text" placeholder="{{'Whatdoyouwanttosell'|translate}}" ng-model="item.itemName" name="name" required ng-change="update(itemName)">
                            <span class="validError" ng-show="myForm.name.$dirty && myForm.name.$invalid">
                                <span ng-show="myForm.name.$error.required">{{'Title'|translate}} {{'IsRequired'|translate}}</span>
                            </span>
                            </label>
                    
                </div>
            </div>
            
            <div class="row">
                <div class="col">
                    
                    <label class="item-input item-select" ng-controller="CategsCtrl">
                        <div class="input-label">
                            {{'Whattypeofpostingis'|translate}}
                        </div>
                        <select ng-model="item.categorySelect" name="category" required>
                            <!-- <option value="">Choose one</option> -->
                            <option ng-repeat="categ in Categories" value="{{categ.id}}">{{categ.id|translate}}</option>
                        </select>
                        <span class="validError" ng-show="myForm.category.$dirty && myForm.category.$invalid">
                            <span ng-show="myForm.category.$error.required">{{'Category'|translate}} {{'IsRequired'|translate}}</span>
                        </span>
                    </label>
                    
                </div>
            </div>
            
            
            
            <div class="text-center">
                
                <h5 class="center">{{'selectpicture'|translate}}</h5>
                <div class="row selectPictureIcons">
                    <div class="col borderRight back-1">
                        <i ng-click="getImage()" class="icon ion-images"></i>
                    </div>
                    <div class="col back-2">
                        <i ng-click="getCamera()" class="icon ion-camera"></i>
                    </div>
                </div>
                
            </div>
            
            <img id="myImage" style="width:50%; margin-left: 25%;" />
            
            
            <div class="row">
                <div class="col">
                    
                    <label class="item item-input item-floating-label">
                        <span class="input-label">{{'Price'|translate}}?</span>
                        <input type="tel" placeholder="{{'Price'|translate}}?" ng-model="item.itemPrice" name="price" required>
                            <span class="validError" ng-show="myForm.price.$dirty && myForm.price.$invalid">
                                <span ng-show="myForm.price.$error.required">{{'Price'|translate}} {{'IsRequired'|translate}}.</span>
                            </span>
                            </label>
                    
                </div>
            </div>
            
            <div class="row" ng-show="!currentUser.email" ng-init="getLocation()"><!-- get automate by defaul -->
                <div class="col">
                    
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Where are you from?</span>
                        <input type="text" placeholder="{{'WhereAreYouFrom'|translate}}" ng-model="item.location" name="location" required>
                            <span class="validError" ng-show="myForm.location.$dirty && myForm.location.$invalid">
                                <span ng-show="myForm.location.$error.required">{{'Location'|translate}} {{'IsRequired'|translate}}.</span>
                            </span>
                    </label>
                    
                    <a class="button button-clear" ng-click="getLocation()" ng-hide="item.location"><!-- show if we cant get it -->
                        <i class="icon ion-ios-navigate-outline"></i>
                    </a>
                    
                    
                </div>
            </div>
            
            
            <div class="row">
                <div class="col">
                    
                    <label class="item item-input item-floating-label">
                        <span class="input-label">{{'Describe'|translate}}</span>
                        <textarea type="text" placeholder="{{'Describe'|translate}}" ng-model="item.itemDescription" name="description" required></textarea>
                        <span class="validError" ng-show="myForm.description.$dirty && myForm.description.$invalid">
                            <span ng-show="myForm.description.$error.required">{{'Description'|translate}} {{'IsRequired'|translate}}.</span>
                        </span>
                    </label>
                    
                </div>
            </div>

            <!-- Ask for a feature or Staff pick -->
            <!-- <div class="row">
                <div class="col">
                    <label class="item-input item-select">
                        <div class="input-label">
                            Promote as {{'Featured'|translate}}
                            <i class="icon ion-card"></i>

                        </div>
                        <select ng-model="item.featured" name="featured" required>
                            <option value="No">No</option>
                            <option value="Yes">Yes</option>
                        </select>
                    </label>
                </div>
            </div> -->
            <!-- <div class="row" ng-show="item.featured=='Yes'">
                <div class="col">
                    <label class="item-input item-select">
                        <div class="input-label">
                            Promote as {{'StaffPicks'|translate}}
                            <i class="icon ion-card"></i>
                        </div>
                        <select ng-model="item.staff" name="staff">
                            <option value="No">No</option>
                            <option value="Yes">Yes</option>
                        </select>
                    </label>
                </div>
            </div> -->
            <!-- Ask for a feature or Staff pick -->         
            
            
            <div class="row" ng-show="!currentUser.email">
                <div class="col">
                    
                    <label class="item item-input item-floating-label">
                        <span class="input-label">{{'YourEmailaddress'|translate}}</span>
                        <input type="email" placeholder="{{'YourEmailaddress'|translate}}" ng-model="item.userEmail" name="email" required>
                            <span class="validError" ng-show="myForm.email.$dirty && myForm.email.$invalid">
                                <span ng-show="myForm.email.$error.required">{{'Email'|translate}} {{'IsRequired'|translate}}.</span>
                            </span>
                    </label>
                    
                </div>
            </div>
            
            <div class="row" ng-show="!currentUser.email">
                <div class="col">
                    
                    <label class="item item-input item-floating-label">
                        <span class="input-label">{{'YourPhoneNumber'|translate}}</span>
                        <input type="tel" placeholder="{{'YourPhoneNumber'|translate}}" ng-model="item.userTel" required name="phone" required>
                            <span class="validError" ng-show="myForm.phone.$dirty && myForm.phone.$invalid">
                                <span ng-show="myForm.phone.$error.required">{{'Phone'|translate}} {{'IsRequired'|translate}}.</span>
                            </span>
                    </label>
                    
                </div>
            </div>
            
            <div class="row" ng-show="!currentUser.email">
                <div class="col">
                    
                    <label class="item item-input item-floating-label">
                        <span class="input-label">{{'ChoosePassword'|translate}}</span>
                        <input type="password" placeholder="{{'ChoosePassword'|translate}}" ng-model="item.userPassword" required name="password" required>
                            <span class="validError" ng-show="myForm.password.$dirty && myForm.password.$invalid">
                                <span ng-show="myForm.password.$error.required">{{'Password'|translate}} {{'IsRequired'|translate}}.</span>
                            </span>
                    </label>
                    
                </div>
            </div>
        
            
            <div class="row">
                <div class="col colSubmit">
                    <button ng-disabled="myForm.$invalid && !currentUser" class="button button-calm button-full" ng-click="send()" ng-hide="!item.itemName && !item.categorySelect.option.selected">
                        {{'Submit'|translate}}
                    </button>
                    <button disabled class="button button-calm button-full" ng-show="!item.itemName && !item.categorySelect.option">
                        {{'CompleteForm'|translate}}
                    </button>
                    <p ng-show="item.featured=='Yes'" class="padding">
                        <i class="icon ion-card"></i> {{'PremiumExtras'|translate}}
                    </p>
                </div>
            </div>
            
        </form>
        
    </ion-content>
    
</ion-view>