<ion-view view-title="" hide-nav-bar="true">
    
    <ion-header-bar align-title="center" class="bar-light bar-transparent">
        <div class="buttons">
            <button class="button button-clear" menu-toggle="left"><i class="icon ion-navicon"></i></button>
        </div>
        <h1 class="title logo">
          {{'Help'|translate}}
        </h1>
        <div class="buttons">
            <button class="button button-clear" menu-toggle="right"><i class="icon ion-ios-albums-outline"></i></button>
        </div>
    </ion-header-bar>
    
    <ion-content class="padding">
        
      <ion-slide-box class="helpSlider">
        <ion-slide>
          <div class="back-5">
            <img src="img/help/home.png" style="width:70%; margin-left:15%;" />
            <button class="button button-clear" ng-click="nextSlide()">
              <i class="icon ion-ios-arrow-right"></i>
            </button>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="back-1">
            <img src="img/help/new.png" style="width:70%; margin-left:15%;" />
            <button class="button button-clear" ng-click="nextSlide()">
              <i class="icon ion-ios-arrow-right"></i>
            </button>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="back-8">
            <img src="img/help/categories.png" style="width:70%; margin-left:15%;" />
            <button class="button button-clear" ng-click="nextSlide()">
              <i class="icon ion-ios-arrow-right"></i>
            </button>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="back-9">
            <img src="img/help/search.png" style="width:70%; margin-left:15%;" />
            <button class="button button-clear" ng-click="gotoHome()">
              <i class="icon ion-checkmark-round"></i>
            </button>
          </div>
        </ion-slide>
      </ion-slide-box>
      <div class="row">
        <div class="col">
          <h3>{{'WhatcanyoudowithFindBy'|translate}}</h3>
          <ul>
            <li>{{'Postaadsclassifiedtoyourstuff'|translate}}</li>
            <li>{{'Findpostnearbyyourlocation'|translate}}</li>
            <li>{{'Promoteyourbusinessservices'|translate}}</li>
            <li>{{'Postjobshireemployees'|translate}}</li>
            <li>{{'Skyisthelimit'|translate}}</li>
          </ul>
          <h3>{{'Help'|translate}}</h3>
          <p>
            {{'support1'|translate}} <a href="mailto:hola@findby.co?subject=FindBy Feedback">hola@findby.co</a> {{'support2'|translate}} <a href="https://twitter.com/intent/tweet?text=@findbyco">@findbyco</a>
          </p>
        </div>
      </div>
        
    </ion-content>
</ion-view>