<ion-view view-title="" hide-nav-bar="true">
    
    <ion-header-bar align-title="center" class="bar-light bar-transparent">
        <div class="buttons">
            <button class="button button-clear" menu-toggle="left"><i class="icon ion-navicon"></i></button>
        </div>
        <h1 class="title logo">learn more</h1>
        <div class="buttons">
            <button class="button button-clear" menu-toggle="right"><i class="icon ion-ios-albums-outline"></i></button>
        </div>
    </ion-header-bar>
    
    <ion-content class="padding">
        
      <ion-slide-box class="helpSlider">
        <ion-slide>
          <div class="back-5">
            <img src="img/help/home.png" style="width:70%; margin-left:15%;" />
            <button class="button button-clear" ng-click="nextSlide()">
              <i class="icon ion-ios-arrow-right"></i>
            </button>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="back-1">
            <img src="img/help/new.png" style="width:70%; margin-left:15%;" />
            <button class="button button-clear" ng-click="nextSlide()">
              <i class="icon ion-ios-arrow-right"></i>
            </button>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="back-8">
            <img src="img/help/categories.png" style="width:70%; margin-left:15%;" />
            <button class="button button-clear" ng-click="nextSlide()">
              <i class="icon ion-ios-arrow-right"></i>
            </button>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="back-9">
            <img src="img/help/search.png" style="width:70%; margin-left:15%;" />
            <button class="button button-clear" ng-click="gotoHome()">
              <i class="icon ion-checkmark-round"></i>
            </button>
          </div>
        </ion-slide>
      </ion-slide-box>
      <div class="row">
        <div class="col">
          <h3>What can you do with FindBy?</h3>
          <ul>
            <li>Post a ads classified to your stuff</li>
            <li>Find post nearby your location</li>
            <li>Promote your business services</li>
            <li>Post jobs, hire employees</li>
            <li>Sky is the limit!</li>
          </ul>
          <h3>Help</h3>
          <p>
            Need support with your ads or have any questions? Drop us a line to <a href="mailto:hello@findby.co?subject=FindBy Feedback">hello@findby.co</a> or tweets us at <a href="https://twitter.com/intent/tweet?text=@findbyco">@findbyco</a>
          </p>
        </div>
      </div>
        
    </ion-content>
</ion-view>