<ion-view view-title="" hide-nav-bar="true">
    
    <ion-header-bar align-title="center" class="bar-light bar-transparent">
        <div class="buttons">
            <button class="button button-clear" menu-toggle="left"><i class="icon ion-navicon"></i></button>
            <a class="button button-clear" ng-click="search()"><i class="icon ion-search"></i></a>
        </div>
        <h1 class="title logo">FindBy</h1>
        <div class="buttons">
            <a class="button button-clear" href="#/app/add"><i class="icon ion-ios-plus"></i></a>
            <button class="button button-clear" menu-toggle="right"><i class="icon ion-ios-albums-outline"></i></button>
        </div>
    </ion-header-bar>

    <ion-content class="padding">
        <ion-refresher on-refresh="doRefresh()"></ion-refresher>
        <!-- pull to refresh -->

    <!-- <ion-content start-y="10" padding="false" has-tabs="true" has-header="true"> -->

     <!--  <div id="search-box" class="bar bar-header item-input-inset">
        <form ng-submit="doSearch()">
        <div class="item-input-wrapper">
          <i class="icon ion-ios7-search placeholder-icon"></i>
          <input type="search" placeholder="Search" ng-model="searchData.terms">
          <i class="clear-search icon ion-ios7-close-empty" ng-click="closeSearch()"></i>
        </div>
        <button class="button button-clear">
          Cancel
        </button>
        </form>
      </div> -->

    <div ng-show="featuredItems.length">
        
        <h4 class="center">Featured</h4>
        
        <a class="back-{{item.background}} itemBox"ng-repeat="item in featuredItems" href="#/app/item/{{item.id}}">
            <div class="price" ng-show="item.price>0">
                $ {{item.price}}    
            </div>
            <div class="image">
                <img src="{{item.picture}}" width="150" />
            </div>
            <div class="location">
                {{item.location | limitTo:27}}
            </div>
            <div class="title">
                {{item.name | limitTo:12}}
            </div>
        </a>
    </div>
        
    
    <div ng-show="staffItems.length">
        
        <h4 class="center">Staff Picks</h4>
        
        <a class="back-{{item.background}} itemBox"ng-repeat="item in staffItems" href="#/app/item/{{item.id}}">
            <div class="price" ng-show="item.price>0">
                $ {{item.price}}    
            </div>
            <div class="image">
                <img src="{{item.picture}}" width="150" />
            </div>
            <div class="location">
                {{item.location | limitTo:27}}
            </div>
            <div class="title">
                {{item.name | limitTo:12}}
            </div>
        </a>
        
    </div>
        
    
    <div ng-show="newestItems.length">    
        
        <h4 class="center">Newest</h4>
        
        <a class="back-{{item.background}} itemBox"ng-repeat="item in newestItems" href="#/app/item/{{item.id}}">
            <div class="price" ng-show="item.price>0">
                $ {{item.price}}    
            </div>
            <div class="image">
                <img src="{{item.picture}}" width="150" />
            </div>
            <div class="location">
                {{item.location | limitTo:27}}
            </div>
            <div class="title">
                {{item.name | limitTo:12}}
            </div>
        </a>
        
    </div>
        
  </ion-content>
</ion-view>