<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">{{'SignIn'|translate}}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeRegister()"><i class="icon ion-ios-close-outline"></i></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form name="registerForm" novalidate>
      <div class="list">
        <label class="item item-input item-floating-label">
            <span class="input-label">{{'Youremailaddress'|translate}}</span>
          <input type="email" placeholder="{{'Email'|translate}}" ng-model="registerData.email" required name="email">
              <span class="validError" ng-show="myForm.name.$dirty && myForm.name.$invalid">
                  <span ng-show="registerForm.email.$error.required">E-mail {{'IsRequired'|translate}}<</span>
              </span>
        </label>
        <label class="item item-input item-floating-label">
            <span class="input-label">{{'Chooseapassword'|translate}}</span>
          <input type="password" placeholder="{{'Password'|translate}}" ng-model="registerData.password" required name="password">
              <span class="validError" ng-show="myForm.name.$dirty && myForm.name.$invalid">
                  <span ng-show="registerForm.password.$error.required">{{'Password'|translate}} {{'IsRequired'|translate}}<</span>
              </span>
        </label>
        <label class="item item-input item-floating-label">
            <span class="input-label">{{'Weneedyourphonenumber'|translate}}</span>
          <input type="tel" placeholder="{{'Phone'|translate}}" ng-model="registerData.phone" required name="phone">
              <span class="validError" ng-show="myForm.name.$dirty && myForm.name.$invalid">
                  <span ng-show="registerForm.phone.$error.required">{{'Phone'|translate}} {{'IsRequired'|translate}}</span>
              </span>
        </label>
        <!-- get automate by default -->
        <list class="item item-input item-button-right item-floating-label" ng-init="getLocation()">
            <span class="input-label">{{'WhereAreYouFrom'|translate}}</span>
          <input type="text" placeholder="{{'Location'|translate}}" ng-model="registerData.location" required name="location">
              <span class="validError" ng-show="myForm.name.$dirty && myForm.name.$invalid">
                  <span ng-show="registerForm.location.$error.required">{{'Location'|translate}} {{'IsRequired'|translate}}<</span>
              </span>
              <!-- show if we cant get it -->
            <a class="button button-clear" ng-click="getLocation()" ng-hide="item.location">
                <i class="icon ion-ios-navigate-outline"></i>
            </a>
        </list>
        <label class="item">
          <button ng-disabled="registerForm.$invalid" class="button button-block button-calm" ng-click="doRegister()" >{{'SignIn'|translate}}</button>
        </label>
      </div>
        <p class="center">{{'AlreadyRegistered'|translate}}</p>
        <a class="button button-clear button-assertive button-block" ng-click="login()">{{'LogIn'|translate}}</a>
    </form>
  </ion-content>
</ion-modal-view>