<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">{{'Terms'|translate}}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeTerms()">
        <i class="icon ion-ios-close-outline"></i>
      </button>
    </div>
  </ion-header-bar>
  <ion-content class="padding">

      <h3>Terms of use</h3>
      <p>1.- It is forbidden to run ads that violate morality and decency.</p>
      <p>2.- It is strictly forbidden to run ads on pedophilia, human trafficking, drug trafficking, fraud and / or any illicit business.</p>
      <p>3.- All ads that violate our terms of use will be discharged immediately from our database and could be delegated to the respective authorities for any legal, penal sanction, etc.</p>
      <p>4.- We do not tolerate any form of racism, race, creed, color, religion and / or sexual preference.</p>
      <p>5.- Any exchange of personal data between users is to resposabilidad of each, excluding us from any responsibility from transactions resulting from there.</p>
      <p>6.- In order to improve the user experience, we use technology to display ads location closer to users.</p>

      <p>
        <em>All violations of our terms of use will be discharged immediately from our database and could be delegated to the respective authorities for any legal, penal sanction, etc.</em>
      </p>

      <h3>Privacy</h3>
      <p>1.- Our services (servers, database, third-party services) are located within the United States of America, therefore, we are governed by their laws on data protection, privacy, information exchange, etc.</p>
      <p>2.- By using our services, you acknowledge and accept our conditions and terms of use.</p>
      <p>3.- Our services payments are made through secure payment gateways, do not have access to their data and therefore we do not store data like bank credit cards, security codes, etc.</p>
      <p>4.- Do not store your location at any time.</p>
      <p>5.- We do not share our database of users and their personal data such as name, email, address and / or location.</p>

      <p>
        We care about your privacy as we do with our privacy.
      </p>

      <p>
        Have any questions? Drop us a line to <a href="mailto:hello@findby.co?subject=FindBy Feedback">hello@findby.co</a> or tweets us at <a href="https://twitter.com/intent/tweet?text=@findbyco">@findbyco</a>
      </p>

    <!-- 
Terminos de uso:

1. Esta prohibido publicar anuncios que atenten contra la moral y las buenas costumbres.
2. Esta terminantemente prohibido publicar anuncios sobre pedofilia, trata de personas, trafico de drogas, estafas y/o cualquier negocio ilicito.
3. No toleramos ningun tipo de racismo, raza, credo, color de piel, religion y/o preferencia sexual.
4. Todo intercambio de datos personales entre los usuarios queda a resposabilidad de cada uno de ellos, excluyendonos de cualquier responsabilidad entre las transacciones que de ahi deriven.
5. Para mejorar la experiencia de usuario, utilizamos tecnologia de ubicacion para mostrar los avisos mas proximos a los usuarios.

Todos anuncios que violen nuestros terminos de uso seran dado de baja de forma inmediata de nuestra base de datos y pudiese ser delegado a las autoridades respectivas para cualquier sancion legal, penal, etc.

Condiciones de privacidad

1. Nuestros servicios estan ubicados dentro de los Estados Unidos de America, por ende, nos regimos por sus leyes en materia de proteccion de datos, privacidad, intercambio de informacion, etc.
2. Al utilizar nuestros servicios, usted reconoce y acepta nuestras condiciones y terminos de uso.
3. Nuestros servicios de pagos se realizan a traves de pasarelas de pago seguras, no tenemos acceso a sus datos y por ende nosotros no almacenamos los datos bancarios como tarjetas de credito, codigos de seguridad, etc.
4. No almacenamos su ubicacion en tiempo real, unicamente, sus publicaciones estan marcadas.
5. No compartimos nuestra base de datos de usuarios ni sus datos personales como nombre, email, direccion y/o ubicacion.

Nos preocupamos por su privacidad como lo hacemos con la nuestra privacidad.
    -->

  </ion-content>
</ion-modal-view>