<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Terms of use</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeTerms()">
        <i class="icon ion-ios-close-outline"></i>
      </button>
    </div>
  </ion-header-bar>
  <ion-content class="padding">

      <h3>Terms of use</h3>

      <p>Under revision. If you have some inquires, Contact us at hello@findby.co</p>
      <hr>
      <p>
        Have any questions? Drop us a line to <a href="mailto:hello@findby.co?subject=FindBy Feedback">hello@findby.co</a> or tweets us at <a href="https://twitter.com/intent/tweet?text=@findbyco">@findbyco</a>
      </p>

  </ion-content>
</ion-modal-view>