# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/*
platforms/*
plugins/*
resources/*
www/js/parse-keys.js

.DS_Store
*.png
*.psd
*.zip
*.keystore
*.apk